.weather-details {
    padding-inline: 105px;
    padding-top: 85px;
    margin-bottom: 300px;
}

.set-details {
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 2px solid var(--grey);
}

.details-results {
    padding-block: 30px;
}

.topic {
    color: var(--grey);
    text-transform: uppercase;
}

.list-topic,
.list-topic-result {
    display: flex;
    flex-direction: row;
    gap: 90px;
}