.main-header {
    background-color: var(--grey);
    padding: 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    width: 120px;
}